<div layout="column" layout-fill>
    <summary-toolbar ng-if="!$ctrl.healthProblemId" toolbar-title="'新增健康問題'" cancel="$ctrl.goback()"></summary-toolbar>
    <summary-toolbar ng-if="$ctrl.healthProblemId && $ctrl.regForm.Status !== 'Deleted'" toolbar-title="'修改健康問題'" cancel="$ctrl.goback()"></summary-toolbar>
    <summary-toolbar ng-if="$ctrl.regForm.Status === 'Deleted'" toolbar-title="'查看己刪除健康問題'" cancel="$ctrl.goback()"></summary-toolbar>

    <!-- <div hide-xs hide-sm ng-show="!$ctrl.loading">
      <h3 style="float: left; padding-left: 10px">
        <span ng-show="!$ctrl.nursingRecordId" translate="allNursingRecord.nursingRecord.createNursingRecord"></span>
        <span ng-show="$ctrl.nursingRecordId && $ctrl.regForm.Status !== 'Deleted'" translate="allNursingRecord.nursingRecord.editNursingRecord"></span>
        <span ng-show="$ctrl.regForm.Status === 'Deleted'" translate="allNursingRecord.nursingRecord.showDeleted"></span>
      </h3>
      <md-button style="float:right; margin-top: 8px" class="md-secondary md-icon-button" ng-click="$ctrl.goback()" aria-label="call">
        <i class="material-icons">cancel</i>
      </md-button>
    </div> -->
    <span ng-if="!$ctrl.canAccess" class="readonly-text" title="{{ 'customMessage.readonlyTitle' | translate }}" translate>{{ 'customMessage.readonly' }}</span>
    <md-content layout="column" flex ng-show="!$ctrl.loading">
        <loading ng-show="$ctrl.loading"></loading>
        <server-error-page flex ng-show="!$ctrl.loading && $ctrl.isError" refresh="$ctrl.refresh()"></server-error-page>
        <div class="inner">
            <div class="readonly-inner" ng-if="!$ctrl.canAccess"></div>
            <form class="md-padding yuekang-input-container" layout="column" name="regForm" ng-show="!$ctrl.isError">
                <div layout="row" style="margin: 0; padding: 0">
                    <div layout="column" flex style="margin-left: 0">
                        <label translate>{{'nursingRecord.nursingRecord.date'}}</label>
                        <input type="date" min="1900-01-01" max="2999-12-31" ng-model="$ctrl.regForm.RecordTime" on-change="$ctrl.dateChanged(date)" required />
                    </div>
                    <div layout="column" flex>
                        <label translate>{{'nursingRecord.nursingRecord.time'}}</label>
                        <input type="time" ng-model="$ctrl.regForm.RecordTime" on-change="$ctrl.dateChanged(time)" required />
                    </div>
                </div>
                <div layout="column">
                    <md-input-container>
                        <label translate>{{'allNursingRecord.nursingRecord.content'}}</label>
                        <textarea id="Content" name="Content" ng-model="$ctrl.regForm.Content" ng-model-options="{ allowInvalid: true }" required rows="5" md-maxlength="5000" md-detect-hidden="true"></textarea>
                        <div ng-messages="regForm.Content.$error" role="alert">
                            <div ng-message="required" translate>{{'allNursingRecord.nursingRecord.contentRequired'}}</div>
                        </div>
                    </md-input-container>
                </div>
                <md-button ng-click="$ctrl.isOpenRight()" class="md-primary">
                    {{'allNursingRecord.nursingRecord.insertPhrase' | translate}}
                </md-button>
                <div layout="row" layout-wrap>
                    <div flex="50" flex-xs="100" ng-show="$ctrl.regForm.CreatedUserName">
                        <!-- <span>建立: {{ $ctrl.regForm.CreatedTime | moment: 'YYYY/MM/DD(dd) HH:mm'}} </span> -->
                        <span translate="allNursingRecord.nursingRecord.createdTime" translate-values='{CreatedTime: $ctrl.regForm.CreatedTime}'></span>
                        <seal model="$ctrl.regForm" modified="none"></seal>
                    </div>
                    <div flex="50" flex-xs="100" ng-show="$ctrl.regForm.ModifiedTime != null">
                        <!-- <span>修改: {{ $ctrl.regForm.ModifiedTime | moment: 'YYYY/MM/DD(dd) HH:mm'}} </span> -->
                        <span translate="allNursingRecord.nursingRecord.editedTime" translate-values='{ModifiedTime: $ctrl.regForm.ModifiedTime}'></span>
                        <seal model="$ctrl.regForm" created="none"></seal>
                    </div>
                </div>

                <!--<div layout="column" ng-show="$ctrl.regForm.CreatedUserName">
            <p ng-bind="$ctrl.regForm.CreatedUserName + ' 於 ' + ($ctrl.regForm.CreatedTime | moment: 'YYYY-MM-DD (dd) HH:mm') + ' 建立'"></p>
          </div>
          <div layout="column" ng-show="$ctrl.regForm.ModifiedUserName">
            <p ng-bind="$ctrl.regForm.ModifiedUserName + ' 於 ' + ($ctrl.regForm.ModifiedTime | moment: 'YYYY-MM-DD (dd) HH:mm') + ' 修改'"></p>
          </div>-->
                <div lass="action-area" layout="row" layout-margin layout-align="start center">
                    <md-button ng-click="$ctrl.submit($event)" ng-if="$ctrl.canAccess" class="md-raised md-primary" ng-disabled="regForm.$invalid || $ctrl.isSaving">{{'allNursingRecord.nursingRecord.save' | translate}}</md-button>
                    <md-progress-circular md-diameter="20px" md-mode="indeterminate" ng-show="$ctrl.isSaving"></md-progress-circular>
                </div>
            </form>
        </div>
    </md-content>
    <phrase id="phrase" callback="$ctrl.phraseInsertCallback(word)"></phrase>
</div>