/platforms
/plugins
/hooks
/node_modules
/www
/.vs
/.vscode
/cordova/hooks
/cordova/platforms
/cordova/plugins
/cordova/node_modules
/cordova/www
/cordova/package.json
/.DS_Store
*.log
runCordovaAndroid.bat
runCordovaBrowser.bat
.gradle