<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.goback('allReferralSheetForm')" aria-label="call">
            <md-icon md-svg-icon="static/img/svg/ic_arrow_back_24px.svg"></md-icon>
        </md-button>
        <div layout="row" hide-xs>
            其他共病{{!$ctrl.loading ? '-' + $ctrl.patientName : null }}
        </div>
        <div layout="column" hide-gt-xs>
            <span style="font-size: 18px;">其他共病</span>
            <!-- <span style="font-size: 18px;">{{!$ctrl.loading ? $ctrl.patient.Name + '(' + $ctrl.patient.MedicalId + ')' : null }}</span> -->
        </div>
    </div>
</md-toolbar>

<loading ng-if="$ctrl.loading" flex layout="column" layout-align="center center"></loading>

<md-content ng-if="!$ctrl.isError" flex class="disease-check-container">

    <!-- <div layout="column" class="search-area-hide-gtxs">
        <div layout="row" layout-align="start center" class="margin-bottom-5">
            <b>時間區間查詢：</b>
            <div class="margin-left-10">
                <span class="timeSearchBtn-span" ng-click="$ctrl.getCheckItems()">時間查詢</span>
            </div>
        </div>
        <div layout="row" layout-align="start center" class="margin-bottom-5">
            <span class="nowrap-text ">起：</span>
            <div style="margin-right: 10px;">
                <input type="date" ng-model="$ctrl.StartDate" ng-change="$ctrl.dateChange()"/>
            </div>
            <span class="nowrap-text ">訖：</span>
            <div>
                <input type="date" ng-model="$ctrl.EndDate" ng-change="$ctrl.dateChange()"/>
            </div>
        </div>
    </div> -->

    <!-- hide-xs -->
    <!-- <div layout="row" layout-align="start center" class="search-area-hide-xs margin-bottom-10">
        <div><b>時間區間查詢：</b></div>
        <span class="nowrap-text margin-left-5">起：</span>
        <div style="margin-right: 10px;">
            <input type="date" ng-model="$ctrl.StartDate" ng-change="$ctrl.dateChange()"/>
        </div>
        <span class="nowrap-text margin-left-5">訖：</span>
        <div>
            <input type="date" ng-model="$ctrl.EndDate" ng-change="$ctrl.dateChange()"/>
        </div>
        <div class="margin-left-10">
            <span class="timeSearchBtn-span" ng-click="$ctrl.getCheckItems()">時間查詢</span>
        </div>
    </div> -->

    
    <!-- <div layout="row" layout-align="start center" class="margin-bottom-10">
        <div><b>搜尋：</b></div>
        <input type="text" class="lab-search-input" ng-disabled="$ctrl.diseaseData.length == 0" ng-model="$ctrl.searchText" ng-change="$ctrl.onQuickFilterChanged()" placeholder="請輸入要查詢的內容..." />
        <span flex></span>
    </div> -->

    <div ag-grid="$ctrl.gridOptions" class="mygrid ag-theme-balham" flex></div>


</md-content>

<div ng-if="$ctrl.isError" layout="column" flex layout-align="center center">
    <h3>伺服器錯誤，請重新整理</h3>
</div>
<div ng-if="!$ctrl.isError"  class="labCheckBtn-div" layout="row" layout-align="end center">
    <span ng-class="{disabled: $ctrl.diseaseData.length == 0, 'labCheckBtn-span': $ctrl.diseaseData.length > 0}" ng-click="$ctrl.saveChecked()">勾選完畢儲存</span>
</div>