<div layout="column" style="position: relative;" layout-fill flex>
    <summary-toolbar toolbar-title="'dialysisTabView.doctorNote' | translate" cancel="$ctrl.goback()" ng-hide="$ctrl.stateName === 'pdDoctorNote'"></summary-toolbar>

    <div class="list-header" ng-show="!$ctrl.loading" layout="row" layout-align="center center">
        <md-switch ng-model="$ctrl.showDeleted" aria-label="Switch data">
            <!-- 顯示已刪除 ({{$ctrl.deletedItemsLength}}筆) -->
            <span translate="nursingRecord.nursingRecords.showDeleted" translate-values='{deletedItemsLength: $ctrl.deletedItemsLength}'></span>
        </md-switch>
        <span flex></span>
        <h6 translate="allDoctorNote.totalRecord" translate-values='{totalCnt: $ctrl.totalCnt}'></h6>
        <span flex></span>
        <last-refresh-time accesstime='$ctrl.lastAccessTime' refresh='$ctrl.refresh()'></last-refresh-time>
    </div>
    <md-content layout="column" flex>
        <loading ng-show="$ctrl.loading"></loading>
        <div ng-show="$ctrl.serviceData.length > 0" infinite-scroll="$ctrl.loadMore()" infinite-scroll-disabled='$ctrl.loading' infinite-scroll-distance='2' infinite-scroll-parent>
            <md-content>
                <md-list>
                    <md-list-item layout="row" class="md-2-line" ng-class="{deleted: item.Status == 'Deleted'}" ng-repeat="item in $ctrl.serviceData | orderBy:['-RecordTime', '-CreatedTime']" ng-click="$ctrl.goto(item.Id)" ng-show="item.Status !== 'Deleted' || $ctrl.showDeleted">
                        <div class="md-list-item-text" layout="row">
                            <div>
                                <h3 ng-bind="item.RecordTime | moment:'YYYY/MM/DD (dd) HH:mm'"></h3>
                                <p class="layoutRow" ng-bind="item.Content" />

                            </div>
                            <span flex></span>
                            <seal model="item" modified="hideIfSame" fixed="true"></seal>
                            <div ng-show="$ctrl.checkCanAccess({dataStatus: item.Status})" style="position: absolute; right: 6px; top: 20px">
                                <md-button class="md-icon-button" ng-click="$ctrl.copy($event, item.Content)">
                                    <i class="material-icons">
                                        content_copy
                                    </i>
                                    <md-tooltip style="margin-top: -5px;">
                                        複製
                                    </md-tooltip>
                                </md-button>
                                <md-button ng-show="$ctrl.checkCanAccess({createdUserId :item.CreatedUserId,dataStatus :item.Status})" class="md-icon-button" ng-click="$ctrl.showDialog($event, item)">
                                    <i class="material-icons">delete</i>
                                    <md-tooltip style="margin-top: -5px;">
                                        刪除
                                    </md-tooltip>
                                </md-button>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <md-progress-circular ng-show="$ctrl.loadingMore" class="loadmore" md-diameter="40" md-mode="indeterminate"></md-progress-circular> 
        <div flex ng-show="!$ctrl.loading && !$ctrl.serviceData.length && !$ctrl.isError" layout="column" layout-fill layout-align="center center">
            <h1 translate>{{'allDoctorNote.noData'}}</h1>
        </div>
        <div flex ng-show="!$ctrl.loading && $ctrl.isError" layout="column" layout-fill layout-align="center center">
            <h3 translate>{{'allDoctorNote.serverError'}}</h3>
        </div>
    </md-content>
    <md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.goto()" ng-if="$ctrl.checkCanAccess({})">
        <md-icon md-svg-src="static/img/svg/ic_add_white_24px.svg"></md-icon>
    </md-button>
</div>

<script type="text/ng-template" id="doctorNoteDialog.html">
    <md-dialog aria-label="刪除確認">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate>{{'allDoctorNote.confirmDelete'}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.cancel()">
                        <md-icon md-svg-src="static/img/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content" translate>
                    {{'allDoctorNote.deleteRecord'}}
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="vm.cancel()">
                    {{'allDoctorNote.cancel' | translate}}
                </md-button>
                <md-button ng-click="vm.ok()">
                    {{'allDoctorNote.delete' | translate}}
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>