<div layout="column" layout-fill>
    <summary-toolbar toolbar-title="'歷次護理指導'" cancel="$ctrl.back()"></summary-toolbar>
    <div class="list-header" ng-show="!$ctrl.loading" layout="row" layout-align="center center">
        <md-switch ng-model="$ctrl.showDeleted" aria-label="Switch data">
            <h6 translate>{{'allNursingRecord.nursingRecords.showDeleted'}}
                <!-- ({{$ctrl.deletedItemsLength}}筆) -->
            </h6>
        </md-switch>
        <span flex></span>
        <!-- <h6>共 {{$ctrl.totalCnt}} 筆</h6> -->
        <h6 translate="allNursingRecord.nursingRecords.totalRecord" translate-values='{totalCnt: $ctrl.totalCnt}'></h6>
        <span flex></span>
        <last-refresh-time accesstime='$ctrl.lastAccessTime' refresh='$ctrl.refresh()'></last-refresh-time>
    </div>
    <md-content layout="column" flex>
        <loading ng-show="$ctrl.loading"></loading>
        <div ng-class="{away:$ctrl.loading || ($ctrl.serviceData.length < 1 || $ctrl.isError)}" infinite-scroll="$ctrl.loadMore()"
            infinite-scroll-disabled='$ctrl.loading' infinite-scroll-distance='2' infinite-scroll-parent>
            <md-content>
                <md-list>
                    <md-list-item class="md-2-line" ng-class="{deleted: item.Status == 'Deleted'}"
                        ng-repeat="item in $ctrl.serviceData | orderBy: 'RecordTime':true"
                        ng-click="$ctrl.goto(item.Id)" ng-show="item.Status !== 'Deleted' || $ctrl.showDeleted">
                        <div class="md-list-item-text" layout="column" style="padding: 8px 0 0 0">
                            <h3 ng-bind="item.RecordTime | moment: 'YYYY/MM/DD (dd) HH:mm'" style="padding-bottom:6px">
                            </h3>
                            <seal model="item" modified="hideIfSame" fixed="true" class="seal"></seal>
                            <md-icon class="md-secondary" ng-click="$ctrl.showDialog($event, item)"
                                md-svg-icon="static/img/svg/ic_delete_black_24px.svg"></md-icon>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <md-progress-circular ng-show="$ctrl.loadingMore" class="loadmore" md-diameter="40" md-mode="indeterminate">
        </md-progress-circular>
        <div flex ng-show="!$ctrl.loading && $ctrl.serviceData.length == 0 && !$ctrl.isError" layout="column"
            layout-fill layout-align="center center">
            <h1>目前沒有護理指導</h1>
        </div>
        <server-error-page flex ng-show="!$ctrl.loading && $ctrl.isError" refresh="$ctrl.refresh()"></server-error-page>
    </md-content>
    <md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.goto('create')">
        <md-icon md-svg-src="static/img/svg/ic_add_white_24px.svg"></md-icon>
    </md-button>
</div>

<script type="text/ng-template" id="allNursingGuideDialog.html">
    <md-dialog aria-label="刪除確認">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 translate>{{'allNursingRecord.nursingRecords.confirmDelete'}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.cancel()">
                        <md-icon md-svg-src="static/img/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content" translate>
                    {{'allNursingRecord.nursingRecords.deleteRecord'}}
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="vm.cancel()">
                    {{'allNursingRecord.nursingRecords.cancel' | translate}}
                </md-button>
                <md-button ng-click="vm.ok()">
                    {{'allNursingRecord.nursingRecords.delete' | translate}}
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>