<style scoped>
    .padding-bottom {
        padding-bottom: 20px;
    }

    .width {
        width: 600px;
    }
</style>

<md-dialog aria-label="{{'charge.dialopageTitle2' | translate: '{title: dvm.title , action: dvm.action}'}}">
    <form ng-cloak class="width">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate="charge.dialopageTitle2" translate-values='{title: dvm.title , action: dvm.action}'></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dvm.cancel()">
                    <md-icon md-svg-src="static/img/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" flex>
                <form name="editForm">
                    <md-grid-list md-cols="2" md-row-height="64px">
                        <md-grid-tile md-colspan="2">
                            <md-input-container class="md-block" flex>
                                <div style="margin-top:-0.9em" flex>
                                <label translate="charge.behavior"></label>
                                <md-select ng-model="dvm.action" ng-change="dvm.inventoryChange()">
                                    <md-option ng-repeat="a in dvm.actions" value="{{ a }}">{{ a }}</md-option>
                                </md-select>
                                </div>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-input-container class="md-block" flex>
                                <label translate="charge.actionQty" translate-values='{action: dvm.action}'></label>
                                <input ng-model="dvm.Qty" ng-change="dvm.QtyChange(dvm.action)" type="number" name="Qty" min="0" required>
                                <div ng-messages="editForm.Qty.$error">
                                    <div ng-message="required"><span translate="customMessage.dataRequired"></span></div>
                                </div>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-input-container class="md-block" flex>
                                <label translate="charge.nowStock2"></label>
                                <input type="text" name="Stock" ng-model="dvm.Stock" readonly/>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-input-container class="md-block" flex>
                                <label translate="charge.safeStock2"></label>
                                <input type="text" name="SafetyStock" ng-model="dvm.SafetyStock" readonly/>
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-input-container class="md-block" flex>
                                <label translate="charge.afterStock2" translate-values='{action: dvm.action}'></label>
                                <input type="text" name="NewStockText" ng-model="dvm.NewStockText" readonly/>
                                <span style="padding-top: 10px; color: red" ng-if="dvm.notSafety" translate="charge.lowStock"></span>
                                <span style="padding-top: 10px; color: red" ng-if="dvm.notEnough" translate="charge.errorStock"></span>
                            </md-input-container>
                        </md-grid-tile>
                    </md-grid-list>
                    <md-grid-list md-cols="2" md-row-height="64px">
                        <md-grid-tile>
                            <md-input-container class="md-block" flex>
                                <label translate="charge.recordTime"></label>
                                <input type="text" name="RecordDateTime" ng-model="dvm.RecordDateTime" />
                            </md-input-container>
                        </md-grid-tile>
                        <md-grid-tile>
                            <md-input-container class="md-block" ng-if="!dvm.isInventory" flex>
                                <label translate="charge.memo"></label>
                                <input type="text" name="Memo" ng-model="dvm.Memo" />
                            </md-input-container>
                            <md-input-container class="md-block" ng-if="dvm.isInventory" flex>
                                <label translate="charge.memo"></label>
                                <input type="text" name="Memo" ng-model="dvm.Memo" required/>
                                <div ng-messages="editForm.Memo.$error">
                                    <div ng-message="required"><span translate="customMessage.dataRequired"></span></div>
                                </div>
                            </md-input-container>
                        </md-grid-tile>
                    </md-grid-list>

                    <md-button type="submit" class="md-raised md-primary" ng-click="dvm.save()" ng-disabled="dvm.Qty == null || dvm.Qty == 0 || (dvm.isInventory && dvm.Memo == null) || dvm.isSaving"><span translate>{{'charge.savebutton'}}</span></md-button>
                </form>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>