<style scoped>
        patient-list {
            height: 100%;
            
        }
        
        patient-list .main_card{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        patient-list .main_card .card{ float: left; width: 50%; box-sizing: border-box; border-right: rgb(214, 214, 214) solid 1px;}
        md-dialog patient-list .main_card .card {
            width: 100%;
        }
        patient-list .card:nth-child(2n+2){border-right:none}
        patient-list .main_card .card:last-of-type{border-bottom: rgb(214, 214, 214) solid 1px!important;}
        @media only screen and (max-width: 768px) {
        patient-list .main_card .card{ float: left; width: 100%; margin-right: 0; border-right:none}
        }
    
    </style>
    
    <!--<div infinite-scroll="vm.loadMore()" infinite-scroll-disabled='!vm.currentPatients' infinite-scroll-distance='1' infinite-scroll-parent>
        <md-list class="patient-list">
            <md-list-item ng-repeat="item in vm.currentPatients"
                        ng-click="vm.goToDialysis(item)"
                        ng-class="{male: (item.Gender|gender)=='男', female: (item.Gender|gender)=='女'}">
                <div class="avatar">
                    <img ng-show="item.Photo" ng-src="{{::item.Photo}}" class="md-avatar" />
                    <img ng-show="!item.Photo" ng-src="static/img/avatar.png" class="md-avatar" />
                </div>
                <div class="md-list-item-text" layout="column" layout-fill>
                    <div layout="row">
                        <span flex="40" class="name">{{::item.Name}}</span>
                        <span flex="10">{{::item.Gender | gender}}</span>
                        <span flex="10">{{::item.Birthday | age}}</span>
                        <span flex="40">{{::item.LastDialysisInfo | dialysisStatus}}</span>
                    </div>
                    <div layout="row">
                        <span flex="40">{{::item.MedicalId}}</span>
                        <patient-tag tag="t" ng-repeat="t in item.Tags track by $index"></patient-tag>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </div>-->
    
    <!--<md-list md-virtual-repeat-container class="patient-list" ng-style="vm.getListHeight()">
        <md-list-item md-virtual-repeat="item in vm.patients"
                    ng-click="vm.goToDialysis(item)"
                    ng-class="{male: (item.Gender|gender)=='男', female: (item.Gender|gender)=='女'}" md-item-size="48">
            <div class="avatar">
                <img ng-show="item.Photo" ng-src="{{item.Photo}}" class="md-avatar" />
                <img ng-show="!item.Photo" ng-src="static/img/avatar.png" class="md-avatar" />
            </div>
            <div class="md-list-item-text" layout="column" layout-fill>
                <div layout="row">
                    <span flex="40" class="name">{{item.Name}}</span>
                    <span flex="10">{{item.Gender | gender}}</span>
                    <span flex="10">{{item.Birthday | age}}</span>
                    <span flex="40">{{item.LastDialysisInfo | dialysisStatus}}</span>
                </div>
                <div layout="row">
                    <span flex="40">{{item.MedicalId}}</span>
                    <patient-tag tag="t" ng-repeat="t in item.Tags track by $index"></patient-tag>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>-->
    
    <!-- <md-list class="patient-list"> -->
        <!-- <md-list-item ng-repeat="item in vm.patients" ng-click="vm.goToDialysis(item)" ng-class="{male: (item.Gender|gender)=='男', female: (item.Gender|gender)=='女'}"> -->
            <div class="main_card">
                <div class="card" ng-repeat="item in vm.patients">
                    <md-card ng-click="vm.goToDialysis(item)" flex style="position: relative; width: 100%; margin: 0; cursor: pointer; height: 100%; box-sizing: border-box">
                        <div style="position: absolute; top: 0; left: 0; width: 20px; height: 20px; z-index: 1;">
                            <img ng-if="(item.Gender|gender)=='男'" ng-src="static/img/svg/male.svg" class="md-gender" width="30px" />
                            <img ng-if="(item.Gender|gender)=='女'" ng-src="static/img/svg/female.svg" class="md-gender" width="30px" />
                        </div>
                        <md-card-title style="padding: 8px; margin: 0">
                            <div ng-show="item.RaspberryPiSetting && item.RaspberryPiSetting.Status.toUpperCase() === 'START'" class="continuousIcon">
                                    <i class="material-icons" style="font-size:26px">
                                            swap_vertical_circle
                                            </i>
                            </div>
                            <md-card-title-media>
                                <div class="avatar">
                                    <div style="position: relative;">
                                        <!-- <div class="state" ng-if="item.StateFormat" created="none" modified="none" my-style="vm.stateSealStyle">{{::item.StateFormat}}</div> -->
                                        <div class="state" ng-if="item.StateFormat" created="none" modified="none" my-style="vm.stateSealStyle">{{::item.StateFormat}}</div>
                                        <img ng-show="item.Photo" ng-src="{{::item.Photo}}" class="md-avatar" style="width: 70px; margin-right: 8px; margin-top: 8px"
                                        />
                                        <img ng-show="!item.Photo" ng-src="static/img/avatar.png" class="md-avatar" style="width: 70px; margin-right: 8px; margin-top: 8px"
                                        />
                                    </div>
                                </div>
                            </md-card-title-media>
                            <div layout="column">
                                <div>
                                    <h3 style="padding: 0px; margin: 0; font-size: 18px; display: inline;">{{::item.Name}}</h3>
                                    <span style="white-space: nowrap">
                                        <span>{{::item.MedicalId}}</span>
                                        <span style="font-size: 14px; margin-right: 13px; line-height: 18px">({{::item.Birthday
                                            | age}})</span>
                                    </span>
                                    <div style="height: 5px;"></div>
    
                                    <span style="white-space: nowrap; padding-top: 4px">
                                        <img ng-src="static/img/svg/ic_doctor_24px.svg" class="md-avatar" style="width: 14px;" />
                                        <span ng-if="item.BedNo" style="padding-right: 14px">{{::item.BedNo}}</span>
                                        <span ng-if="!item.BedNo"style="padding-right: 14px">--</span>
                                        <i class="material-icons" style="font-size: 18px; margin-right:2px; vertical-align: top; color: rgb(72, 134, 231)">local_hotel</i>
                                        <span ng-if="item.AdmissionBedNo">{{::item.AdmissionBedNo}}</span>
                                        <span ng-if="!item.AdmissionBedNo">--</span>
                                    </span>
                                </div>
                                <div style="padding:3px 0">
                                    <span style=" white-space: nowrap; " ng-if="item.StatusHtml == 1">
                                        <img ng-src="static/img/svg/ic_BP_24px.svg" class="md-avatar" style="width: 14px;" />
                                        {{'allPatients.BeforeBP' | translate}}: {{::item.LastDialysisInfo.BeforeBP.BPS || 'allPatients.none' | translate}}/{{::item.LastDialysisInfo.BeforeBP.BPD
                                        || 'allPatients.none' | translate}}, {{item.LastDialysisInfo.BeforeWeight ||
                                        'allPatients.none' | translate}}
                                        <span ng-if="item.LastDialysisInfo.BeforeWeight">kg</span>
                                    </span>
                                </div>
                                <md-card-content style="padding: 0; margin: 0">
    
                                    <span style="line-height: 24px; " ng-if="item.StatusHtml == 3">
                                        {{'allPatients.AfterBP' | translate}}: {{::item.LastDialysisInfo.AfterBP.BPS || 'allPatients.none' | translate}}/{{::item.LastDialysisInfo.AfterBP.BPD
                                        || 'allPatients.none' | translate}}, {{item.LastDialysisInfo.AfterWeight || 'allPatients.none'
                                        | translate}}
                                        <span ng-if="item.LastDialysisInfo.BeforeWeight">kg</span>
                                    </span>
                                    <span ng-if="item.StatusHtml == 4">{{'allPatients.close' | translate}}</span>
    
                                </md-card-content>
                                <div style="margin-top: 3px">
                                    <patient-tag tag="t" ng-repeat="t in item.Tags track by $index" style="margin-bottom: 2px; font-size: 13px; white-space: nowrap; display: inline-block;"></patient-tag>
                                </div>
    
    
                                <span ng-if="item.StatusHtml == 2 || item.StatusHtml == 2.1" class="dialysis" ng-class="{overdue: item.StatusHtml == 2.1}"
                                    style="padding-left: 0">
                                    <i class="material-icons" style="vertical-align: bottom; font-size: 21px; line-height: 22px">query_builder</i>{{item.LastDialysisInfo.EstimatedEndTime
                                    | date:'HH:mm'}} {{'allPatients.finish' | translate}}
                                </span>
                                <span ng-if="item.StatusHtml == 2.2" class="dialysis" style="margin-top: 3px; ">
                                        透析中
                                </span>
                                <!-- <span class="dialysis" ng-class="{overdue: item.StatusHtml == 2.1}" style="padding-left: 0">
                                                <i class="material-icons" style="vertical-align: bottom; font-size: 21px; line-height: 22px">query_builder</i>14:10結束
                                        </span> -->
                            </div>
                        </md-card-title>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-card>
                </div>
    
            </div>
        <!-- </md-list-item> -->
    <!-- </md-list> -->