<md-dialog aria-label="刪除確認" id="roWarning" style="max-width:500px; min-width: 350px; margin-top: 50px">
    <div class="alertbg">
        <h2 translate>{{'roprocess.dashboardTitle'}}</h2>
    </div>
    <div class="alertborder">
        <md-dialog-content>
            <div class="main_card">
                <div class="card" ng-repeat="data in vm.data">
                    <div flex style="position: relative; margin: 0; cursor: pointer; box-sizing: border-box" ng-click="$ctrl.showDialog(data)">
                        <h3 style="padding-left: 8px; line-height: 40px; margin: 0; font-size: 18px;" ng-class="{alertcolor:!data.ResolvedTime}">{{::data.AbnormalTime | moment: "YYYY/MM/DD HH:mm"}}</h3>
                        <div layout="row" layout-wrap>
                            <div flex="50" layout="row">
                                <span class="title" translate>{{'roprocess.machineNo'}}</span>
                                <span class="content">{{data.MachineNo}}</span>
                            </div>
                            <div flex="50" layout="row">
                                <span class="title" translate>{{'roprocess.propertyNo'}}</span>
                                <span class="content">{{data.PropertyNo}}</span>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </div>
</md-dialog>