<md-dialog class="year-plan-update-dialog-container">
    <form name="eventForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row">

                <p flex>修改年度計畫標題</p>

                <md-button class="md-icon-button" ng-click="dialog.cancel()">
                    <i class="material-icons">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                    <div layout="row" class="alert" layout-align="center center">
                        <span >修改完成後，請記得再次<span style="color: red;">儲存</span>年度計畫表！</span>
                    </div>

                <div layout="row" class="row">
                    <label class="label-margin">計畫標題</label>
                    <input required ng-model="dialog.title">
                </div>


                <md-dialog-actions layout-align="end end">
                    <md-button class="md-raised" ng-click="dialog.cancel()">
                        取消
                    </md-button>
                    <md-button class="md-raised md-primary md-btn-white-text" ng-click="dialog.save()" ng-disabled="eventForm.$invalid">
                        修改記事
                    </md-button>
                </md-dialog-actions>
            </div>
        </md-dialog-content>

    </form>
</md-dialog>