<style scoped>
    centeruser-detail {
        height: 100%;
    }
    
    .padding {
        padding: 20px;
    }
    
    .warning {
        color: red;
    }

    div.deleted {
        background-color: rgba(10, 10, 10, 0.2);
        position: absolute;
        width: 100%;
    }
</style>
<md-content layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="vm.back()">
                <i class="material-icons">keyboard_backspace</i>
            </md-button>
            <h4>
                <span>使用者管理 / </span>
                <span ng-show="vm.type === 'create'">新增</span>
                <span ng-show="vm.centeruser.Status === 'Deleted'">己刪除</span>
                <span ng-bind="vm.centeruser.Name"></span> 個人資料
            </h4>
        </div>
    </md-toolbar>
    <loading ng-show="vm.loading"></loading>
    <md-content layout-fill flex>
        <div ng-show="!vm.loading" ng-class="{deleted: vm.centeruser.Status == 'Deleted'}">
            <div flex ng-show="vm.isError" layout="column" layout-fill layout-align="center center">
                <h3>伺服器資料讀取失敗</h3>
            </div>
            <form name="editForm" class="padding">
                <div>
                <md-grid-list md-cols="2" md-row-height="70px" flex>
                    <md-grid-tile>
                        <md-input-container class="md-block" flex>
                            <label>帳號</label>
                            <input type="text" name="Account" ng-model="vm.formData.Account" required unique-check="vm.centeruser_account()" ng-readonly="vm.readonly" />
                            <div ng-messages="editForm.Account.$error">
                                <div ng-message="required">必填選項</div>
                                <div ng-show="editForm.Account.$error.uniqueCheck">
                                    <font color="red" style="font-size: 12px;">此帳號已註冊</font>
                                </div>
                            </div>
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile>
                        <md-input-container class="md-block" flex>
                            <label>姓名</label>
                            <input type="text" name="Name" ng-model="vm.formData.Name" required ng-readonly="vm.readonly" />
                            <div ng-messages="editForm.Name.$error">
                                <div ng-message="required">必填選項</div>
                            </div>
                        </md-input-container>
                    </md-grid-tile>
                </md-grid-list>
                <md-grid-list md-cols="2.2" md-row-height="25px" ng-show="vm.editMode" flex>
                    <md-grid-tile>
                        <div style="margin-top:-0.9em" flex>密碼無異動請空白</div>
                    </md-grid-tile>
                </md-grid-list>
                <md-grid-list md-cols="2" md-row-height="70px" flex>
                    <md-grid-tile>
                        <div flex>
                            <md-input-container class="md-block">
                                <label>密碼</label>
                                <input type="password" name="Password" ng-model="vm.password" ng-required="!vm.editMode" ng-readonly="vm.readonly" />
                                <div ng-messages="editForm.Password.$error">
                                    <div ng-message="required">必填選項</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div ng-show="vm.editMode"></div>
                        <md-input-container class="md-block" flex>
                            <label>密碼確認</label>
                            <input type="password" name="passwordConfirm" ng-model="vm.passwordConfirm" ng-required="!vm.editMode" ng-readonly="vm.readonly" />
                            <div ng-messages="editForm.passwordConfirm.$error">
                                <div ng-message="required">必填選項</div>
                            </div>
                            <div>
                                <span ng-show="vm.password!==vm.passwordConfirm && vm.passwordConfirm"><font color="#F54437" style="font-size: 12px;">密碼不相同</font></span>
                            </div>
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile>
                        <md-input-container class="md-block" flex>
                            <label>BarCode</label>
                            <input type="text" name="BarCode" ng-model="vm.formData.BarCode" oldvalue="{{ vm.oldFormData.BarCode }}" ng-readonly="vm.readonly" />
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile>
                        <md-input-container class="md-block" flex>
                            <label>RFID</label>
                            <input type="text" name="RFID" ng-model="vm.formData.RFID" oldvalue="{{ vm.oldFormData.RFID }}" ng-readonly="vm.readonly" />
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div style="margin-top:-1.1em" flex>
                            <md-input-container class="md-block" flex>
                                <label>權限</label>
                                <md-select name="Access" ng-model="vm.formData.Access" ng-disabled="vm.readonly">
                                    <md-option ng-selected="{{ a.value == 1 }}" ng-repeat="a in vm.optAccess" value="{{ a.value }}">{{ a.name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
                </div>
                <div>
                <md-button class="md-raised md-warn" ng-show="vm.formData.Status === 'Deleted'" ng-click="vm.recover()" ng-disabled="vm.isSaving">復原</md-button>
                <md-button class="md-raised md-warn" ng-show="vm.editMode && vm.formData.Status === 'Normal'" ng-click="vm.delete($event)" ng-disabled="vm.isSaving">刪除</md-button>
                <md-button type="submit" class="md-raised md-primary" ng-show="vm.formData.Status !== 'Deleted'" ng-click="vm.showSimpleToast()" ng-disabled="editForm.$invalid || vm.isSaving">儲存</md-button>
                </div>
            </form>
        </div>
    </md-content>
</md-content>