<style scoped>
    assessment {
        height: 100%;
    }
</style>
<md-content layout="column" layout-fill ui-view>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="vm.openLeftMenu()" hide-gt-sm>
                <i class="material-icons">menu</i>
            </md-button>
            <h3 translate="assessment.pageTitle"></h3>
        </div>
    </md-toolbar>
    <div class="list-header" ng-show="!vm.loading && !vm.isError">
        <span translate="assessment.totalRecord" translate-values='{total: vm.totalItems}'></span>
        <span flex></span>
    </div>
    <md-content layout-fill flex>
        <loading ng-show="vm.loading"></loading>
        <div flex ng-show="vm.isError" layout="column" layout-fill layout-align="center center">
            <h3 translate="customMessage.serverError"></h3>
        </div>
        <div ng-show="!vm.loading && !vm.isError">
            <div ng-show="vm.assessments && vm.assessments.Items.length == 0" layout="column" layout-fill layout-align="center center" flex>
                <i class="fa fa-file-o"></i>
                <h3 translate="customMessage.noData"></h3>
                <h4 translate="assessment.addNew"></h4>
            </div>
                <md-subheader class="md-no-sticky"><span translate="assessment.subtitle1"></span></md-subheader>
                <md-card class="mdcardpadding">
                        <md-list>
                                <md-list-item>
                                    <div layout="row" layout-fill>
                                        <span flex=25 translate="assessment.name"></span>
                                        <span flex=55 translate="assessment.optionstitle"></span>
                                        <span flex=10></span>
                                        <span flex=10></span>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                                <md-list-item ng-repeat="a in vm.assessments_pre.Items" ng-click="vm.gotoAssessmentData($index, 'pre')">
                                    <div layout="row" layout-fill>
                                        <span flex=25>{{a.Item}}</span>
                                        <span flex=55>{{a.Options.join(' , ')}}</span>
                                        <span flex=10>
                                            <md-button ng-click="vm.moveUp(a, 'pre')" aria-label="move up" ng-show="!$first">
                                                <md-icon md-svg-src="static/img/svg/ic_arrow_upward_black_48px.svg" aria-label="move up"></md-icon>
                                            </md-button>
                                        </span>
                                        <span flex=10>
                                            <md-button ng-click="vm.moveDown(a, 'pre')" aria-label="move down" ng-show="!$last">
                                                <md-icon md-svg-src="static/img/svg/ic_arrow_downward_black_48px.svg" aria-label="move down"></md-icon>
                                            </md-button>
                                        </span>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                            <!-- <md-button class="md-fab" ng-click="vm.gotoCreate()" aria-label="create assessment" style="position:relative;right:24px;bottom:24px">
                                <md-icon md-font-icon="mdi mdi-plus" style="font-size: 24px;height: 33px">+</md-icon>
                            </md-button> -->
                                </md-card>
            <md-subheader class="md-no-sticky"><span translate="assessment.subtitle2"></span></md-subheader>
                <md-card class="mdcardpadding">
                        <md-list>
                                <md-list-item>
                                    <div layout="row" layout-fill>
                                        <span flex=25 translate="assessment.name"></span>
                                        <span flex=55 translate="assessment.optionstitle"></span>
                                        <span flex=10></span>
                                        <span flex=10></span>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                                <md-list-item ng-repeat="a in vm.assessments_in.Items" ng-click="vm.gotoAssessmentData($index, 'in')">
                                    <div layout="row" layout-fill>
                                        <span flex=25>{{a.Item}}</span>
                                        <span flex=55>{{a.Options.join(' , ')}}</span>
                                        <span flex=10>
                                            <md-button ng-click="vm.moveUp(a, 'in')" aria-label="move up" ng-show="!$first">
                                                <md-icon md-svg-src="static/img/svg/ic_arrow_upward_black_48px.svg" aria-label="move up"></md-icon>
                                            </md-button>
                                        </span>
                                        <span flex=10>
                                            <md-button ng-click="vm.moveDown(a, 'in')" aria-label="move down" ng-show="!$last">
                                                <md-icon md-svg-src="static/img/svg/ic_arrow_downward_black_48px.svg" aria-label="move down"></md-icon>
                                            </md-button>
                                        </span>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                            <!-- <md-button class="md-fab" ng-click="vm.gotoCreate()" aria-label="create assessment" style="position:fixed;right:24px;bottom:24px">
                                <md-icon md-font-icon="mdi mdi-plus" style="font-size: 24px;height: 33px">+</md-icon>
                            </md-button> -->
                                </md-card>
            <md-subheader class="md-no-sticky"><span translate="assessment.subtitle3"></span></md-subheader>
                <md-card class="mdcardpadding">
                        <md-list>
                                <md-list-item>
                                    <div layout="row" layout-fill>
                                        <span flex=25 translate="assessment.name"></span>
                                        <span flex=55 translate="assessment.optionstitle"></span>
                                        <span flex=10></span>
                                        <span flex=10></span>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                                <md-list-item ng-repeat="a in vm.assessments_post.Items" ng-click="vm.gotoAssessmentData($index, 'post')">
                                    <div layout="row" layout-fill>
                                        <span flex=25>{{a.Item}}</span>
                                        <span flex=55>{{a.Options.join(' , ')}}</span>
                                        <span flex=10>
                                            <md-button ng-click="vm.moveUp(a, 'post')" aria-label="move up" ng-show="!$first">
                                                <md-icon md-svg-src="static/img/svg/ic_arrow_upward_black_48px.svg" aria-label="move up"></md-icon>
                                            </md-button>
                                        </span>
                                        <span flex=10>
                                            <md-button ng-click="vm.moveDown(a, 'post')" aria-label="move down" ng-show="!$last">
                                                <md-icon md-svg-src="static/img/svg/ic_arrow_downward_black_48px.svg" aria-label="move down"></md-icon>
                                            </md-button>
                                        </span>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                            <md-button class="md-fab" ng-click="vm.gotoCreate()" aria-label="create assessment" style="position:fixed;right:24px;bottom:24px">
                                <md-icon md-font-icon="mdi mdi-plus" style="font-size: 24px;height: 33px">+</md-icon>
                            </md-button>
                                </md-card>
        </div>
    </md-content>
</md-content>