<style scoped="scoped">
    .selectIndex {
        background-color: #cccccc;
    }

    .statusButton {
        min-width: 40px
    }

    .beStatus {
        background-color: green;
    }

    .inStatus {
        background-color: red;
    }

    .afStatus {
        background-color: yellow;
    }

    md-list-item.active {
        background-color: lightgray !important;
    }
</style>

<div layout="row" layout-fill style="text-transform: none;">
    <md-sidenav ng-hide="admin.hideSidenav" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <header class="nav-header">
            <h1>{{admin.currentHospital.HospitalName}}</h1>
            <div layout="row" layout-align="center center">
                <div style="background: #0e7ddc; padding: 2px 10px; border-radius: 30px; margin-bottom: 12px; cursor: pointer;" ng-click="admin.gotoProfile()">
                    <h4 translate="adminmenu.welcome" translate-values='{username: admin.currentUser.Name}' style="margin: 0; color: #fff; padding:4px 0; ">
                    </h4>
                </div>
            </div>
        </header>

        <md-content layout="column" flex class="menu">
            <md-list>
                <md-list-item ng-if="admin.isBrowser" ui-sref="basicSetting" ui-sref-active="active">
                    <span translate>{{'adminmenu.basicSetting'}}</span>
                </md-list-item>
                <md-list-item ui-sref="user" ui-sref-active="active">
                    <span translate>{{'adminmenu.user'}}</span>
                </md-list-item>
                <md-list-item ui-sref="phrase" ui-sref-active="active">
                    <span translate>{{'adminmenu.phrase'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ui-sref="ward" ui-sref-active="active">
                    <span translate>{{'adminmenu.ward'}}</span>
                </md-list-item>
                <!--<md-list-item ng-if="admin.isBrowser && (admin.ModuleFunctions === null || admin.ModuleFunctions.Charge === '1')" ui-sref="charge" ui-sref-active="active">
                    <span translate>{{'adminmenu.charge'}}</span>
                </md-list-item>-->
                <md-list-item ng-if="admin.isBrowser" ui-sref="medicine" ui-sref-active="active">
                    <span translate>{{'adminmenu.medicine'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser && (admin.ModuleFunctions === null || admin.ModuleFunctions.Epo === '1')" ui-sref="epo" ui-sref-active="active">
                    <span translate>{{'adminmenu.epo'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser && (admin.ModuleFunctions === null || admin.ModuleFunctions.Assessment === '1')" ui-sref="assessment" ui-sref-active="active">
                    <span translate>{{'adminmenu.assessment'}}</span>
                </md-list-item>
                <md-list-item ui-sref="machineProperty" ui-sref-active="active">
                    <span translate>{{'adminmenu.machineProperty'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ui-sref="labexamItem" ui-sref-active="active">
                    <span translate>{{'adminmenu.labexamItem'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ui-sref="custom" ui-sref-active="active">
                    <span translate>{{'adminmenu.custom'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ui-sref="info" ui-sref-active="active">
                    <span translate>{{'adminmenu.info'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ui-sref="statistic" ui-sref-active="active">
                    <span translate>{{'adminmenu.statistic'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ui-sref="log" ui-sref-active="active">
                    <span translate>{{'adminmenu.log'}}</span>
                </md-list-item>
                <!--<md-list-item ng-if="admin.isBrowser" ui-sref="contract" ui-sref-active="active">
                    <span translate>{{'adminmenu.contract'}}</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ui-sref="payment" ui-sref-active="active">
                    <span translate>{{'adminmenu.payment'}}</span>
                </md-list-item>-->
                <md-list-item ng-if="admin.isBrowser" ui-sref="adminFile" ui-sref-active="active">
                    <span translate>檔案上傳</span>
                </md-list-item>
                <md-list-item ng-if="admin.isBrowser" ng-click="admin.openclose()" target="_self">
                    <span translate>[{{'adminmenu.inputoutput'}}]</span>　<i class="material-icons" ng-show="admin.importarea">expand_less</i><i class="material-icons" ng-show="!admin.importarea">expand_more</i>
                </md-list-item>
                <div ng-if="admin.isBrowser" ng-show="admin.importarea">
                    <md-list-item ui-sref="kidit" ui-sref-active="active">
                        <span translate>{{'adminmenu.kidit'}}</span>
                    </md-list-item>
                    <md-list-item ui-sref="medicationExport" ui-sref-active="active">
                        <span translate>{{'adminmenu.medicationExport'}}</span>
                    </md-list-item>
                    <md-list-item ui-sref="labexamImport" ui-sref-active="active">
                        <span translate>{{'adminmenu.labexamImport'}}</span>
                    </md-list-item>
                    <md-list-item ui-sref="medicationImport" ui-sref-active="active">
                        <span translate>{{'adminmenu.medicationImport'}}</span>
                    </md-list-item>
                    <md-list-item ui-sref="machinePropertyImport" ui-sref-active="active">
                        <span translate>{{'adminmenu.machinePropertyImport'}}</span>
                    </md-list-item>
                </div>
            </md-list>
            <span flex></span>
            <md-list>
                <md-divider></md-divider>
                <md-list-item ng-click="admin.back()">
                    <span translate>{{'adminmenu.back'}}</span>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <ui-view layout="column" flex></ui-view>
</div>