<style>
    nursing-assessment-form{
        height: 100%;
    }
    @media print{
        .md-dialog-container {
            display: inline-table;
        }
        @page{
            size: A4 portrait;
            margin: 0.5cm;
            orphans:4;
            widows:2;
        }
        div,input,table,select,md-select{
            page-break-inside :avoid;
            page-break-after: avoid;
        }
    }
</style>
<md-content layout="column" layout-fill>
    <summary-toolbar ng-if="$ctrl.headerId" toolbar-title="'護理評估'" cancel="$ctrl.back()"></summary-toolbar>
    <md-content layout="column" flex>
        <md-list ng-show="!$ctrl.loading && $ctrl.nAFList.length > 0">

            <div class="list-header" ng-show="!$ctrl.loading" layout="row" layout-align="center center">
                <md-switch ng-model="$ctrl.showDeleted" aria-label="Switch data">
                    <span translate="nursingAssessmentForm.Records.showDeleted" translate-values='{deletedItemsLength: $ctrl.deletedItemsLength}'></span>
                </md-switch>
                <span flex></span>
                <h6 translate="nursingAssessmentForm.Records.totalRecord" translate-values='{totalCnt: $ctrl.totalCnt}'></h6>
                <span flex></span>
                <last-refresh-time accesstime='$ctrl.lastAccessTime' refresh='$ctrl.refresh()'></last-refresh-time>
            </div>
            <md-content layout="column" flex>
                <loading ng-show="$ctrl.loading"></loading>
                <div ng-show="$ctrl.nAFList.length > 0" infinite-scroll="$ctrl.loadMore()" infinite-scroll-disabled='$ctrl.loading' infinite-scroll-distance='2' infinite-scroll-parent>
                    <md-content>
                        <md-list>
                            <md-list-item class="md-2-line" ng-class="{deleted: item.Status == 'Deleted'}" ng-repeat="item in $ctrl.nAFList" ng-click="$ctrl.openEditDialog(item,false)" ng-show="item.Status !== 'Deleted' || $ctrl.showDeleted">
                                <div class="md-list-item-text" layout="column">
                                    <h3 ng-bind="item.Record_Date | moment:'YYYY/MM/DD (dd) HH:mm'"></h3>  
                                    <!-- color: blue !important;
                                    border: 1px solid blue;                                   -->
                                    <seal created="none" modified="hideIfSame"
                                    my-style="{
                                                color:'blue',
                                                right: '200px',
                                                border:'1px solid blue',
                                                bottom:'15px',
                                            }"
                                    label="{{item.Emr_Modify_Userid_Nurse}}" fixed="true"></seal>
                                    <seal 
                                    my-style="{
                                        right: '130px',
                                    }"
                                    model="item" modified="hideIfSame" fixed="true"></seal>
                                </div>
                                <div  style="position: absolute; right: 6px; top: 20px">
                                    <md-button class="md-icon-button" ng-click="$ctrl.openEditDialog(item,true)">
                                        <i class="material-icons">
                                            content_copy
                                        </i>
                                        <md-tooltip style="margin-top: -5px;">
                                            複製
                                        </md-tooltip>
                                    </md-button>
                                    <md-button  class="md-icon-button" ng-click="$ctrl.deleteOne($event,item)" ng-hide="item.Status == 'Deleted'">
                                        <i class="material-icons">delete</i>
                                        <md-tooltip style="margin-top: -5px;">
                                            刪除
                                        </md-tooltip>
                                    </md-button>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </md-content>
        </md-list>
        <md-progress-circular ng-show="$ctrl.loadingMore" class="loadmore" md-diameter="40" md-mode="indeterminate"></md-progress-circular> 
        <md-content ng-show="!$ctrl.loading && $ctrl.nAFList.length == 0" flex layout="column" layout-align="center center">
            <h1 translate>{{'nursingAssessmentForm.Records.noData'}}</h1>
            <h4></h4>
        </md-content>
        <div flex ng-show="!$ctrl.loading && $ctrl.isError" layout="column" layout-fill layout-align="center center">
            <h3 translate>{{'nursingAssessmentForm.Records.serverError'}}</h3>
        </div>
        </md-content>
</md-content>
<md-button class="no-print md-fab md-fab-bottom-right" ng-hide="$ctrl.isAll" ng-click="$ctrl.openCreateDialog()">
    <md-icon md-svg-src="static/img/svg/ic_add_white_24px.svg"></md-icon>
</md-button>

<!-- <div class="freezeDiv tbTrackShort">
    <table class="freezeTb tb">
        <thead>
            <tr>
                <th>記錄日期</th>
                <th>體重</th>
                <th>血壓</th>
                <th>體溫</th>
                
                <th>導管出口評估</th>
                <th>分泌物</th>
                <th>感染狀態描述</th>
                <th>透析液評估</th>
                <th>水腫評估</th>
                <th>呼吸狀況評估</th>
                <th>皮膚狀況評估</th>                
                <th>高危險跌倒評估總分</th>
                <th>護理指導</th>
                <th>護理記錄</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="naf in $ctrl.nAFList">
                <td ng-click="$ctrl.openEditDialog(naf)">
                    {{naf.Record_Date  | moment:'YYYY-MM-DD'}}
                    <br/>
                    {{naf.Record_Date  | moment:'HH:mm:ss'}}
                </td>
                <td ng-click="$ctrl.openEditDialog(naf)">{{naf.Body_Weight}}</td>
                <td ng-click="$ctrl.openEditDialog(naf)">{{naf.Blood_Pressure}}</td>
                <td ng-click="$ctrl.openEditDialog(naf)">{{naf.Temperature}}</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">{{naf.High_Risk_Fall_Eval_Score}}</td>
                <td ng-click="$ctrl.openEditDialog(naf)">text</td>
                <td ng-click="$ctrl.openEditDialog(naf)">{{naf.Nursing_Records}}</td>
                <td>
                    <md-button ng-click="$ctrl.deleteOne($event, naf)">
                        <i class="material-icons">delete</i>
                        <md-tooltip style="margin-top: -5px;">
                            刪除
                        </md-tooltip>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<md-button class="md-fab md-fab-bottom-right" style="position: fixed;" ng-click="$ctrl.openCreateDialog()">
    <md-icon md-svg-src="static/img/svg/ic_add_white_24px.svg"></md-icon>
</md-button> -->