<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>
                    刪除記事   
                </span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div>
            <div layout="column" style="margin-bottom:0rem;">
                <div style="margin: 10px; line-height:40px;">
                    您即將要刪除 "{{dialog.title}}" 的記事？
                </div>
            </div>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="dialog.cancel()">
                    取消
                </md-button>
                <md-button class="md-raised md-warn md-btn-white-text" ng-click="dialog.delete()">
                    刪除
                </md-button>
            </md-dialog-actions>
        </div>
    </md-dialog-content>
</md-dialog>